  <h1>Our dogs</h1>

<div class="container">
  <%= turbo_frame_tag "dogs"  do  %>
    <%= render partial:  "shared/dogs_list", locals: {dogs:  @dogs} %>
  <% end %>
</div>


<%= render "shared/new_dog_form" %>
