<div>
  <% if @has_bookings %>
    <% @bookings.each do |booking| %>
      <%= link_to user_booking_path(@user, booking) do %>
        <p>Check your date with <%= booking.dog.name %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>"You don't have any booking yet!"</p>
    <%= link_to "Book your first buddy", root_path %>
  <% end %>
</div>
