$color-blue: #83af9b;
$color-green: #c8c8a9;
$color-brown: #774f38;
$color-beige: #ece5ce;
$color-yellow: #f9cdad;
$color-pink: #fe4365;

#bubble-chat {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: $color-brown;
  background-color: $color-beige;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px $color-blue;
  font-family: "Baloo 2", cursive;

  margin-top: 30px;
  margin-bottom: 30px;
  // border: 1px solid $color-green;
}
#bubble-chat:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  // -webkit-text-stroke: 0.5px $color-green;
  -webkit-text-fill-color: $color-beige;
  // border: 1px solid $color-green;
  text-shadow: 22px 22px $color-blue;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: $color-beige;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px $color-blue;
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

#happy-dog-gif {
  margin: 0;
  padding: 0;
}

.btn-danger-container {
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  // padding-left: 300px;
  // padding-right: 300px;
  // width: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  border: solid 2px #ef233c;

  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  p {
    margin: 0;
    padding-right: 10px;
  }
}

.btn-danger-styled-link {
  color: #ef233c;
  text-decoration: none;
  background-color: white  ;
  border: 0px;
}

.btn-danger-container:hover {
  text-decoration: none;
  background-color: #ef233c;
  border: solid 2px #ef233c;
  color:  white;

  .btn-danger-styled-link {
    text-decoration: none;
    background-color: #ef233c;
    color:  white;
  }
}
