.big-dog-show-container {
  display: block;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  background-color: grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;
}

.name-race-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;

  h1, p {
    padding: 2px;
  }
}

.dog-pictures-container {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.big-picture-container {
  margin-right: 10px;
}

.four-pictures-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.small-card-dog {

}

.big-dog-card {
  border-radius: 5% 0% 0% 5% / 5% 0% 0% 5%
}

#top-right-dog-card {
  border-radius: 0% 5% 0% 0% / 0% 5% 0% 0%
}

#bottom-right-dog-card {
  border-radius: 0% 0% 5% 0% / 0% 0% 5% 0%
}

.booking-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
}

.booking-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #FFA500;
  border: none;
  border-radius: 40%;
  color: white;
  font-size: 20px;
}
